<div align="center">
    <button class="show-cookie-preference-button" onclick="showCookiePreference()"><i class="fas fa-cookie"></i>
        Edit Cookie Settings</button>
</div>
<p align="center">
    <a href="https://github.com/labbots/google-drive-upload/releases"><img src="https://img.shields.io/github/release/labbots/google-drive-upload.svg?style=for-the-badge" alt="Latest Release"></a>
    <a href="https://github.com/labbots/google-drive-upload/stargazers"><img src="https://img.shields.io/github/stars/labbots/google-drive-upload.svg?color=blueviolet&style=for-the-badge" alt="Stars"></a>
</p>
<p align="center">
    <a href="https://github.com/labbots/google-drive-upload/blob/master/LICENSE"><img src="https://img.shields.io/github/license/labbots/google-drive-upload.svg?style=for-the-badge" alt="License"></a>
</p>
<p align="center">Built with <i class="fas fa-heart"></i>&nbsp;from&nbsp;<a href="https://labbots.com/">Labbots</a></p>
